//variables
$mainfont: Sans-serif;

header {
  height: 50px;
  width:100%;
  background-color: #28bdb3;
  color: rgb(255, 255, 255);
  .title {
    font-family: $mainfont;
    text-align: center;
    top: 10px;
    position: relative;
    font-weight: bold;
  }
}

.desktopPages {
  display:none;
}

.desktopButton {display: none;}

//selected pages
.pages {
  li {
    background-color: rgb(1, 1, 1);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    padding: 5px;
    margin-left: 8px;
    font-family: $mainfont;
  }
    .firstpage {
      @extend li;
      background-color: rgb(169, 169, 170);
    }
    .secondpage {
      @extend li;
      background-color: rgb(169, 169, 170);
    }
    .thirdpage {
      @extend li;
      background-color: rgb(169, 169, 170);
    }
    .finalpage {
      @extend li;
      background-color: rgb(169, 169, 170);
    }

}

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone  a {
	background-image: url('../phone.png');
  font-family: $mainfont;
  position:relative;
  color: rgb(0, 0, 0);
  float:left;
}

.thirdSection {
  display: inline;
    // checkout title
    .securetitle {
      font-family: $mainfont;
      position: absolute;
      top: 165px;
      margin-top:30px;
    }
    // required fields
    .requiredfields {
      color: rgb(218, 7, 0);
      font-family: $mainfont;
      padding-top: 60px;
    }
}

label:after {
  content: "*";
  color: rgb(218, 7, 0);
}

.number {
  background-color: rgb(169, 169, 170);
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

//fieldset
fieldset {
  margin-bottom: 30px;
  font-family: $mainfont;
  position: relative;
  border: 3px solid #28bdb3;
  text-align: left;
  legend {
    margin-bottom: 30px;
    font-family: $mainfont;
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 100%;
  }
}

.addressHeading {
  font-size: 20px;
  font-family: $mainfont;
  font-weight: bold;
}

//Labels
label {
  display: block;
  margin: 15px;
  border-radius: 50%;
}

//Continue Button
.myButton {
  text-decoration:none;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:32px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#FF8A3C;
  margin-bottom: 10px;
  margin-left:120px;
}

.myButton1 {
  @extend .myButton;
  position: relative;
  margin-bottom: 10px
}

.myButton2 {
  @extend .myButton;
  position: relative;
}

.thankyou {
  text-align: center;
  font-family: $mainfont;
  font-weight: bold;
}

//Footer
footer {
  background-color: rgb(1, 1, 1);
  height: 50px;
  margin-top: 10px;
    .policy {
      font-family: $mainfont;
      text-align: center;
      left:120px;
      position: absolute;
      a {
        color: #ffffff;
      }
    }
}
