$mainfont: Sans-serif;

// Header

//fieldset
fieldset {
  margin-bottom: 30px;
  font-family: $mainfont;
  .legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
}

//headings
h5 h3 h5 {
  font-family: $mainfont;
}

//Labels
label {
  display: block;
  margin: 8px;
  label.light {
    font-weight:200;
    display: inline;
  }
}

//Continue Button
.myButton {
  text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:32px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#FF8A3C;
}

//Footer
.help {
  font-family: $mainfont;
  font-size: 18px;
  text-align: center;
}
